{% extends 'base.html.twig' %}

{% block body %}
	<div class="jumbotron text-center bg-primary text-white">
		{% if action == "create" %}
			<h1>Création d'un nouveau compte
			</h1>
		{% else %}
			<h1>Modifiez les informations de votre compte
			</h1>
			<p>Pour cela veuillez renseigner le formulaire</p>
		{% endif %}
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
	</div>


	<div class="container mt-4 mb-4">

		{% include "pages/appflashes.html.twig" %}

		<div class="text-center">

			{{ form_start(form, {'attr': {'id': 'create-form'}}) }}
			<div class="row justify-content-center d-flex align-items-end">
				<div class="col-md-4 col-sm-6">
					<div class="row justify-content-center">
						<div class="col-12">{{ form_row(form.name)}}</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12">{{ form_row(form.surname)}}</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-12">{{ form_row(form.email)}}</div>
					</div>
					{% if action == 'create' %}
						<div class="row justify-content-center">
							<div class="col-12">{{ form_row(form.password)}}</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-12">{{ form_row(form.isCertified)}}</div>
						</div>
					{% endif %}

				</div>
				{% if app.user %}
					<div class="col-md-4 col-sm-6" id="tooltip-admin" data-toggle="tooltip" data-html="true" title="Pour un meilleur affichage, une image de 200px x 200px est idéale">
						{% if app.user.filename != 'empty'%}
							<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" class="card-img-top" style="max-width: 200px; height: auto;">
						{% else %}
							<img src="{{ asset('images/admin/empty.png') }}" class="card-img-top" style="max-width: 200px; height: auto;">
						{% endif %}
						<div class="row text-left">
							<div class="col-12">{{ form_row(form.ImageFile)}}</div>
						</div>
					</div>
				{% endif %}

			</div>

			{% if action == 'create' %}
				<small class="row justify-content-center d-flex align-items-end text-info">Les champs précédés d'un "*" sont obligatoires</small>
			{% endif %}

			<div class="m-5">
				<input type="hidden" name="_token" value="{{ csrf_token('subscribe') }}">
				<button class="btn btn-success {% if action == 'create' %}g-recaptcha{% endif %}" {% if action=='create' %} data-sitekey="{{ google_recaptcha_site_key }}" data-callback='onSubmit' data-action='submit' {% endif %}>{{
				button|default('Enregistrer')}}</button>

				<a href="{% if action == 'create' %} {{ path('home') }} {% else %} {{ path('ets.index') }} {% endif %}" class="btn btn-info">Retour</a>
				{% if action == 'edit' %}
					<a href="{{ path('ets.admin.renewpwd', { url : admin.url }) }}" id="popover-pwd" class="btn btn-warning" data-container="body" data-toggle="popover" data-placement="right" title="Changer de mot de passe" data-content="Cliquez ici pour changer de mot de passe">
						<i class="fa fa-unlock-alt"></i>
					</a>
				{% endif %}
			</div>
			{{ form_end(form) }}
			{% if app.user and app.user.usergroup != 8 %}
				<div class="text-right">
					<form method="post" action="{{ path('admin.unsubscribe', {url: admin.url}) }}" onsubmit="return confirm('Attention, vous êtes sur le point de supprimer votre compte... Les QRCodes générés ne fonctionneront plus...  ')">
						<input type="hidden" name="_method" value="DELETE">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
						<button class="btn btn-link">
							<small class="d-block mb-3 text-muted">Se désinscrire</small>
						</a>
					</button>
				</form>
			</div>
		{% endif %}

	</div>
</div>{% endblock %}{% block javascripts %}

{{ parent() }}
{{ encore_entry_link_tags('app') }}
{{ encore_entry_script_tags('functions') }}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
	function onSubmit(token) {
document.getElementById("create-form").submit();
}
</script>
{{ encore_entry_script_tags('app') }}{% endblock %}
