{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center bg-primary text-white">
	<h1>Bienvenue sur
		<b style="font-family:'Pacifico';">Spot'n'Chill</b>
	</h1>
	<p>Veuillez renseigner le formulaire</p>
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
		<div class="divider-custom-line"></div>
	</div>
</div>

<div class="container mt-4 mb-4">

	<div class="text-center">
		{% include "pages/appflashes.html.twig" %}

		<h1>S'inscrire</h1>
		<h2>{{ ets.name }}</h2>
		{{ form_start(form) }}

		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">{{ form_row(form.name)}}</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">{{ form_row(form.surname)}}</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-4 col-sm-6">{{ form_row(form.phone_number)}}</div>
		</div>
		{% if not addAfter %}
			<div class="row justify-content-center">
				<div class="col-md-4 col-sm-6 font-italic text-justify">{{ form_row(form.hasAgreedCondition)}}</div>
			</div>
		{% endif %}
		<button class="btn btn-primary">Ajouter</button>
		{% if app.user %}
		<a href="{{ path('ets.index') }}" class="btn btn-info">Retour</a>
		<input type="hidden" name="isSetManualy" value="true" >
		{% endif %}
		{% if not app.user %}
		<a href="{{ path('home') }}" class="btn btn-info">Accueil</a>
		{% endif %}
		{{ form_end(form) }}

	</div>
</div>

{% endblock %}