{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center bg-primary text-white">
	<h1>Modification du mot de passe
	</h1>
	<p>Veuillez renseigner le formulaire</p>
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
		<div class="divider-custom-line"></div>
	</div>
</div>
<div class="container mt-4 mb-4">

	<div class="text-center">

		{% include "pages/appflashes.html.twig" %}

		{{ form_start(form) }}
		<div class="row justify-content-center d-flex align-items-end">
			<div class="col-md-4 col-sm-6">{{ form_row(form.oldPassword)}}</div>
		</div>
		<div class="row justify-content-center d-flex align-items-end">
			<div class="col-md-4 col-sm-6">{{ form_row(form.newPassword)}}</div>
		</div>
		<div class="row justify-content-center d-flex align-items-end">
			<div class="col-md-4 col-sm-6">{{ form_row(form.submit)}}</div>
		</div>
		{{ form_end(form) }}
		<div class="text-right">
			<a href="{{ path('ets.index') }}" class="btn btn-info">Retour</a>
		</div>
	</div>
</div>
{% endblock %}