{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center bg-primary text-white">
    <h1>Renouvelement du mot de passe
    </h1>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="text-center">
        {% include "pages/appflashes.html.twig" %}

        {{ form_start(form) }}
        <div class="row justify-content-center d-flex align-items-end">
            <div class="col-md-4 col-sm-6">{{form_row(form.password.first)}}</div>
        </div>
        <div class="row justify-content-center d-flex align-items-end">
            <div class="col-md-4 col-sm-6">{{form_row(form.password.second)}}</div>
        </div>
        <div class="row justify-content-center d-flex align-items-end">
            <button class="btn btn-success" type="submit">Envoyer</button>
        </div>
        <small class="row justify-content-center d-flex align-items-end text-info">Les champs précédés d'un "*" sont
            obligatoires</small>
        {{ form_end(form) }}
        <div class="text-right">
            <a href="{{ path('login') }}" class="btn btn-info">Retour</a>
        </div>
    </div>
</div>
{% endblock %}