{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}

	<div class="container h-100 mt-4 mb-4">
		{% if error %}
			<div class="alert alert-danger mt-4">
				{{ error.messageKey | trans(error.messagedata, 'security') }}
			</div>
		{% endif %}

		{% include "pages/appflashes.html.twig" %}

		<div class="d-flex justify-content-center h-100 mt-4">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{{ asset('images/snc-round.png')}}" class="brand_logo bg-white" alt="Logo">
					</div>
				</div>
				<div class="row d-flex justify-content-center form_container">
					<div id="login_container" class="container mt-4 text-center">
						<form id="login_form" action="{{ path('login') }}" method="post">
							<div class="input-group mb-3">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-user"></i>
									</span>
								</div>
								<input type="text" id="username" name="_username" class="form-control input_user" value="" placeholder="Adresse e-mail" required autofocus value="{{ last_username }}">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fas fa-key"></i>
									</span>
								</div>
								<input type="password" id="password" name="_password" class="form-control input_pass" value="" placeholder="Mot de passe" required>
							</div>
							<div class="d-flex justify-content-center mt-3 login_container">
								<button type="submit" name="button" class="btn login_btn">Se connecter</button>
								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<input type="hidden" name="go_to" value="{{ path('ets.index') }}"/>
							</div>
						</form>
					</div>
					<div class="mt-4">
						<div class="d-flex justify-content-center links">
							Pas encore de compte?
							<a href="{{ path('user.create') }}" class="ml-2">Inscrivez-vous</a>
						</div>
						<div class="d-flex justify-content-center links">
							<a href="{{ path('request_resetting') }}">Mot de passe oublié?</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
