$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #1abc9c;
$cyan: #17a2b8;
$white: #fff;
$light-gray : #eceef0;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #1abc9c;
$secondary: #2c3e50;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$peach:  #f5b7b1;
$light-blue : #61a5c2;

$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);