{% extends 'base.html.twig' %}

{% block title 'Bienvenue sur Spot\'n\'Chill !' %}

{% block body %}

	<div class="jumbotron text-center bg-primary text-white">
		<h1>Bienvenue sur
			<b style="font-family:'Pacifico';">Spot'n'Chill</b>
		</h1>
		<p>Gérez simplement votre cahier de rappels numérique !</p>
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
	</div>
	<div class="container mt-4 mb-4">

		{% include "pages/appflashes.html.twig" %}


		<div class="row justify-content-center titleToSwitch">
			<div class="col col-lg-6 col-md-6 col-sm-12">
				<div class="row pt-5 mb-2">
					<h2 class="text-secondary pacifico title-home">
						<i class="fa fa-question-circle ml-3 mr-2"></i>Qu'est ce qu'une liste de rappels ?</h2>
				</div>
				<div class="card mb-4 shadow-sm" style="min-height:320px;">
					<div class="col-12 text-center"></div>
					<div class="card-body">
						<p class="card-text">
							<span class="text-primary">Les restaurateurs</span>,
							<span class="text-primary">les bars</span>, mais aussi les salles accueuillant des
							<span class="text-primary">activités sportives
							</span>doivent mettre en place un cahier (liste)de rappels.
								C'est une nouvelle obligation, imposée par le gouvernement, pour faciliter la traçabilité du
								virus.
						</p>
						<p class="card-text">Ce cahier doit être mis en place et conditionne l’accès à l’établissement.
								Les personnes y laissent leurs coordonnées et ce cahier est mis à la disposition de l’Agence
								Régionale de Santé
								ou de l’assurance maladie en cas de déclenchement d’un contact-tracing.</p>
						<p class="card-text">Souvent au format papier,
							<span class="pacifico">Spot'n'Chill</span>
							permet de dématérialiser le cahier de rappels.</p>
					</div>
				</div>
			</div>
			<div class="col col-lg-6 col-md-6 col-sm-12">
				<div class="row pt-5 mb-2">
					<h2 class="text-secondary pacifico title-home">
						<i class="fas fa-database ml-3 mr-2"></i>
					</i>Gestion des données ?
				</h2>
			</div>
			<div class="card mb-4 shadow-sm" style="min-height:320px;">
				<div class="col-12 text-center"></div>
				<div class="card-body">
					<p class="card-text">Ce registre compile de nombreuses données personnelles. Il doit donc respecter
						le règlement général sur la protection des données (RGPD). Vos données ne seront pas utilisées
						dans un autre but que la gestion du cahier de rappels.</p>
					<p class="card-text">
						<span class="text-primary">Systématiquement</span>, les données des visiteurs
							seront effacées après un délai de
							14 jours.
					</p>
					<p class="card-text">En vertu du principe de minimisation, seules les données strictement
						nécessaires sont demandées (Nom, Prénom et n° de téléphone)</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-primary">
	<div class="container mt-4 mb-4">
		<div class="row pt-5 mb-2">
			<h2 class="text-white pacifico title-home">
				<i class="fa fa-cogs ml-3 mr-2"></i>Comment ça marche ?</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col col-lg-6 col-md-6 col-sm-12 mb-5">
				<div class="card mb-4 shadow-sm" style="min-height:320px;">
					<div class="col-12 text-center">
						<img src="{{ asset('images/scan.png') }}" alt="">
					</div>
					<div class="card-body">
						<p class="card-text">A l'aide de votre smartphone, flashez le QRCode affiché dans la salle.</p>
						<p class="card-text">Vous serez dirigé vers un formulaire</p>
					</div>
				</div>
			</div>
			<div class="col col-lg-6 col-md-6 col-sm-12 mb-5">
				<div class="card mb-4 shadow-sm" style="min-height:320px;">
					<div class="col-12 text-center">
						<img src="{{ asset('images/form.png') }}" alt="">
					</div>
					<div class="card-body">
						<p class="card-text">Remplissez tous les champs du formulaire, puis validez.</p>
						<p class="card-text">Et voilà ! Vous êtes inscrit sur le cahier de rappels numérique !
						</p>
						<div class="d-flex justify-content-between align-items-center"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bd-secondary">
	<div class="container mt-4 mb-4">
		<div class="row pt-5 mb-2">
			<h2 class="text-sezcondary pacifico title-home">
				<i class="fa fa-heart ml-3 mr-2"></i>Les gestes barrières</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-12">
				<div class="card mb-4 shadow-sm">
					<div class="col-12 text-center">
						<img src="{{ asset('images/cov19.jpeg') }}" alt="" id="covid-19_img">
					</div>
					<div class="card-body">
						<p class="card-text"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
