body {
  background-color: $light !important;
}

label.required:before {
  content: "*";
}

.modal-dialog {
  max-width: 600px !important;
}

.jumbotron {
  border-radius: 0 !important;
}

.bg-peach {
  background-color: $peach !important;
}

.bg-light-blue {
  background-color: $light-blue !important;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.b-10 {
  bottom: 10px;
}

.pacifico {
  font-family: "Pacifico";
}
/*main > .container{
    padding: 60px 15px 0;
}*/

.jumbotron {
  padding: 4rem 2rem 2rem 2rem !important;
}
.divider {
  position: relative;
  margin-top: 75px;
  margin-bottom: 20px;
}
.divider::before {
  content: "";
  width: 50%;
  border-bottom: solid 8px $secondary;
  position: absolute;
  top: -30px;
  z-index: 1;
  margin-left: 25%;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}

div[id^="row_ets_index_"],
.text-contact {
  border: solid 1px $info;
  border-radius: 5px;
  padding: 5px;
  background-color: $info;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
  #covid-19_img {
    width: 80%;
  }
}

@media (max-width: 970px) {
  .title-home {
    font-size: 22px;
  }
}

@media (max-width: 780px) {
  div[id^="row_ets_index_"] {
    flex-direction: column;
  }
  .titleToSwitch {
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .ml-15px {
    margin-left: 15px;
  }
}
