{% extends "base.html.twig" %}

{% block body %}

	<div class="jumbotron text-center bg-primary text-white">
		<h1>Formulaire de contact</h1>
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
	</div>

	<div class="container mt-4 mb-4 d-flex flex-column text-contact text-white" id="text-contact">
		<div class="col-8 m-auto d-flex"><i class="far fa-question-circle"></i><p class="ml-5">N'hésitez pas à me contacter si vous avez des questions !</p></div>
		<div class="col-8 m-auto  d-flex"><i class="fas fa-cogs"></i><p class="ml-5">Vous avez remarqué un bug ? Merci de me contacter pour le corriger.</p></div>
		<div class="col-8 m-auto  d-flex"><i class="far fa-comments"></i><p class="ml-5">... ou vous avez des suggestions ? Je suis à l'écoute ! Si cela est possible, je m'efforcerai d'améliorer ce service.</p></div>
	</div>

	<div class="container mt-4 mb-4">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
		{% endfor %}
		<div class="row d-flex justify-content-center">
			{{ form_start(form, {'attr': {'id': 'contact-form'}}) }}
			<div class="row">
				<div class="col-6">{{ form_row(form.firstname) }}</div>
				<div class="col-6">{{ form_row(form.lastname) }}</div>
			</div>
			<div class="row">
				<div class="col-12">{{ form_row(form.email) }}</div>
			</div>
			{{ form_rest(form) }}
				<button type="submit" class="btn btn-primary g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}" data-callback='onSubmit' data-action='submit'>Envoyer</button>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script src="https://www.google.com/recaptcha/api.js"></script>
	<script>
		function onSubmit(token) {
			document.getElementById("contact-form").submit();
		}
	</script>

{% endblock %}
