{% extends 'base.html.twig' %}

{% block title 'Personnes présentes' %}

{% block body %}
	<div class="jumbotron text-center bg-primary text-white">
		<h1>Liste des personnes inscrites</h1>
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
	</div>
	<div class="container mt-4 mb-4">

		{% include "pages/appflashes.html.twig" %}

		<div class="row">
			<label for="dateChoice" class="col col-md-4">
				Choississez une date :
			</label>
			<select class="form-control col col-md-4 mr-5" name="dates" id="dateChoice">
				{% for date in dates %}
					<option id="{{ date }}" value="\{{ ets.url }}\{{ date }}" {% if date == "now" | date('d-m-Y') %} selected {% endif %}>
						{{ date }}
					</option>
				{% endfor %}
			</select>


			<form id='DL' action="{{ path('admin.list.dl', {url: ets.url, date_request : date_request}) }}" method="post" target="_blank">
				<button class="btn btn-warning">
					<i class="fa fa-download"></i>Télécharger</button>
			</form>
		</div>
		<table class="table table-striped">
			<thead>
				<h3>Liste des personnes</h3>
			</thead>
			<tbody id="tbody-person-show">
				<tr>
					<td>NOM</td>
					<td>Prénom</td>
					<td>N° tel</td>
					<td align='center'>Heure d'inscription</td>
					<td></td>
				</tr>
				{% for person in list %}
					<tr class="tr-js">
						<td>{{ person.name }}
						</td>
						<td>{{ person.surname }}
						</td>
						<td>{{ person.phonenumber }}
						</td>
						<td align="center">{{ person.datein | date("H:i") }}</td>
						<td>
							{% if person.isSetManualy %}
								<i class="fas fa-user-edit"></i>
							{% else %}
								<i class="fas fa-qrcode"></i>
							{% endif %}
						</td>

					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if app.user %}

			<div class="container">
				<h5 class="divider">Ajouter manuellement des personnes</h5>

				<!-- <form id='addPersonForm' action="{{ path('admin.add.person', {url: ets.url, date_request : date_request}) }}" method="post"> -->
				<form id='addPersonForm' method="post">

					<div class="form-inline row">
						<div class="form-group mb-2" id="form_row" style="display:flex; flex-direction:column">
							<div class="form-inputs">
								<input type="text" class="form-control mr-2" id="name" name="name" placeholder="Nom" required>
								<input type="text" class="form-control mr-2" id="surname" name="surname" placeholder="Prénom" required>
								<input type="text" class="form-control mr-2" id="phone" name="phone" placeholder="Téléphone" required>
							</div>
						</div>
						<a name="" id="addLine" class="btn btn-primary" href="#" role="button">
							<i class="fas fa-plus-circle"></i>
						</a>
					</div>

					<!-- https://www.youtube.com/watch?v=NoAdMtqtrTA&ab_channel=Webslesson -->

					<!-- <input type='submit' class="btn btn-primary"></input> -->

					<button id="submit" class="btn btn-primary" onsubmit="return false">
						<i class="fa fa-user-plus"></i>
						Valider
					</button>
					
				</form>
			</div>

		{% endif %}

		<div class="container mt-5">
			<div class="col">
				<div class="row h5">
					Légende
				</div>
				<div class="row small"><i class="fas fa-qrcode mr-1"></i> : Utilisateur ajouté par QRCode</div>
				<div class="row small"><i class="fas fa-user-edit mr-1"></i> : Utilisateur ajouté manuellement par l'administrateur</div>
				<div class="row small"><i class="fas fa-clipboard-list mr-1"></i> : Ajout depuis le cahier de rappel (papier)</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('addPerson') }}
	{{ encore_entry_script_tags('showPerson') }}

{% endblock %}
