<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body style="font-family: 'helvetica'; color: #17a2b8; margin-left: 150px;">
    <div>
        <p style="font-size: 2em;">Vous avez reçu une demande de contact</p>
        <p>Une nouvelle personne souhaite obtenir des informations</p>
    </div>
    <div style="width: 50%; height: 2px; border: 1px solid #17a2b8;background: #17a2b8 ; margin-bottom: 30px;"></div>
    <div>
        <table>
            <div style="margin-bottom: 20px;">
                <p style="font-style: bold;">Informations du contact :</p>
            </div>
            <tbody>
                <tr>
                    <th style="font-style: bold; width: 150px;" align="left">Prénom</th>
                    <td>{{ contact.firstname }}</td>
                </tr>
                <tr>
                    <th style="font-style: bold; width: 150px;" align="left">Nom</th>
                    <td>{{ contact.lastname }}</td>
                </tr>
                <tr>
                    <th style="font-style: bold;width: 150px;" align="left">Email</th>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <th style="font-style: bold; width: 150px;" align="left">N° de téléphone</th>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <th style="font-style: bold; width: 150px;" align="left">Message</th>
                    <td>{{ contact.message | nl2br}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>