<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre inscription sur Spot'n'Chill !</title>

</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
</style>

<body style="font-family: 'helvetica'; color: #17a2b8; margin-left: 150px;">
    <div style="display: inline-block;">
        <p style="font-size: 2em;">Merci de vous être inscrit sur <font style="font-size: 1.5em;font-family: 'Pacifico', cursive;">Spot'n'Chill</font>!</p>
        <p>Bonjour {{ admin.surname }} {{ admin.name }}</p>
    </div>
    <div style="width: 50%; height: 2px; border: 1px solid #17a2b8;background: #17a2b8 ; margin-bottom: 30px;"></div>
    <div>
        <table>
            <div style="margin-bottom: 20px;">
                <p style="font-style: bold;">Voici votre identifiant avec lequel vous pourrez vous connecter.</p>
                <p style="font-style: bold;">Veuillez renseigner le mot de passe saisi lors de la création de votre compte</p>
            </div>
            <tbody>
                <tr>
                    <th style="font-style: bold;width: 150px;" align="left">Email</th>
                    <td>{{ admin.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>