<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Modification de votre compte sur Spot'n'Chill !</title>

	</head>

	<style>
		@import url('https://fonts.googleapis.com/css2?family=Pacifico &display=swap');
	</style>

	<body style="font-family: 'helvetica'; color: #17a2b8; margin-left: 150px;">
		<div style="display: inline-block;">
			<p style="font-size: 2em;">Vous venez de changer votre adresse mail de votre compte
				<font style="font-size: 1.5em;font-family: 'Pacifico', cursive;">Spot'n'Chill</font>
			</p>
			<p>Merci de vérifier que les informations ci-dessous sont correctes</p>
		</div>
		<div style="width: 50%; height: 2px; border: 1px solid #17a2b8;background: #17a2b8 ; margin-bottom: 30px;"></div>
		<div>
			<table>
				<div style="margin-bottom: 20px;">
					<p style="font-style: bold;">Informations</p>
				</div>
				<tbody>
					<tr>
						<th style="font-style: bold; width: 150px;" align="left">Prénom</th>
						<td>{{ admin.name }}</td>
					</tr>
					<tr>
						<th style="font-style: bold; width: 150px;" align="left">Nom</th>
						<td>{{ admin.surname }}</td>
					</tr>
					<tr>
						<th style="font-style: bold;width: 150px;" align="left">Email</th>
						<td>{{ admin.email }}</td>
					</tr>
				</tbody>
			</table>
			<div>
				<p>Dès à présent, veuillez vous connecter au site à l'aide de cette nouvelle adresse email.</p>
			</div>
		</div>
	</body>

</html>
