<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Demande de nouveau mot de passe - Spot'n'Chill !</title>

</head>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
</style>

<body style="font-family: 'helvetica'; color: #17a2b8; margin-left: 150px;">

	<div style="display: inline-block;">
		<p style="font-size: 2em;">Bonjour,</p>
		<p>Vous avez fait une demande d'un nouveau mot de passe'</p>
		<p>Compte : {{ admin.email }}</p>
		<p>Cliquez sur ce lien pour changer votre mot de passe.</p>
		{# pour que le lien fonctionne, il est indispensable que le lien soit absolu. #}
		<a href="{{absolute_url(path('resetting', {'id': admin.id, 'token': admin.token}))}}">Changer le mot de
			passe</a>
	</div>

	<div style="width: 50%; height: 2px; border: 1px solid #17a2b8;background: #17a2b8 ; margin-bottom: 30px;"></div>
	<p style="font-size: 2em;">Connectez-vous :
		<a href="https://spot-n-chill.fr" style="font-size: 1.5em;font-family: 'Pacifico', cursive;">Spot'n'Chill</a>
	</p>
</body>

</html>