<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Votre désinscription à Spot'n'Chill !</title>

</head>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
</style>

<body style="font-family: 'helvetica'; color: #17a2b8; margin-left: 150px;">

	<div style="display: inline-block;">
		<p style="font-size: 2em;">Nous avons bien pris en compte votre demande de désinscription</p>
		<p>Selon votre demande, votre compte ainsi que vos informations seront supprimées.</p>
		<p>Aussi, aucune restauration de vos données ne pourra être faite.</p>
	</div>

	<div style="width: 50%; height: 2px; border: 1px solid #17a2b8;background: #17a2b8 ; margin-bottom: 30px;"></div>
	<p style="font-size: 2em;">Merci d'avoir utilisé
		<font style="font-size: 1.5em;font-family: 'Pacifico', cursive;">Spot'n'Chill</font>
	</p>
	<p style="font-size: 2em;">A bientôt</p>
</body>

</html>