<!DOCTYPE html>
<html>

	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-63PFMNPZ0Y"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-63PFMNPZ0Y');
		</script>
		<meta charset="UTF-8">
		<meta name=" robots" content="index, nofollow"/>
		<meta name="google-site-verification" content="h3lw8TDXrxJD3670YbbV_qiBlc9uNaJ__QBFQh1L9Tc"/>
		<meta name="description" content="Créer facilement un cahier de rappels numérique"/>
		<meta name="keywords" content="cahier de rappel, covid 19, anti covid, cahier de rappel numérique, liste de rappel, liste de rappel numérique, qr code, cas contact"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Créez et gérez vos cachiers de rappels numériques
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>

	<body class="d-flex flex-column min-vh-100">
		<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
			<a class="navbar-brand" href="{{ path('home') }}" style="max-width: 150px;"><img src="{{asset('images/snc-transparent.png')}}" alt="" style="width: 100%"></a>
			<button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">

					{% if(app.user) %}

						{% if(app.user.usergroup == 5 or app.user.usergroup == 1) %}
							<li class="nav-item active">
								<a class="nav-link {% if current_menu is defined and current_menu == 'ets' %}active{% endif %}" href="{{ path('ets.index') }}">Etablissements<span class="sr-only"></span>
								</a>
							</li>

						{% endif %}

						{% if(app.user.usergroup == 8) %}

							<li class="nav-item active">
								<a class="nav-link {% if current_menu is defined and current_menu == 'ets' %}active{% endif %}" href="{{ path('ets.admin.index') }}">Tableau de bord<span class="sr-only"></span>
								</a>
							</li>

						{% endif %}
					{% endif %}

					<li class="nav-item active">
						<a class="nav-link {% if current_menu is defined and current_menu == 'contact' %}active{% endif %}" href="{{ path('contact.index') }}">Contact<span class="sr-only"></span>
						</a>
					</li>

				</ul>
				<div class="form-inline my-2 my-lg-0">
					{% if app.user %}
					{% set admin = app.user %}
						<div class="d-flex flex-row mr-5 align-items-center">
							<div class="mr-2">
								{% if admin.filename != 'empty'%}
									<img src="{{ vich_uploader_asset(admin, 'imageFile') }}" class="card-img-top" style="max-width: 35px; height: auto;">
								{% else %}
									<img src="{{asset('images/admin/empty.png')}}" class="card-img-top" style="max-width: 35px; height: auto;">
								{% endif %}
							</div>
							<span class="text-white">{{ admin.name ~ " " ~ admin.surname}}</span>
						</div>
						<a href="{{ path('user.edit', { url :admin.url }) }}">
							<span class="btn btn-success">Mon Compte</span>
						</a>
						<a class="nav-link" href="{{ path('logout') }}">
							<span class="btn btn-danger">Deconnexion</span>
						</a>
					{% else %}
						<a class="nav-link" href="{{ path('login') }}">
							<span class="btn btn-success">Connexion</span>
						</a>
					{% endif %}
				</div>
			</div>
		</nav>

		<main role="main" class="flex-shrink-0"> {% block body %}{% endblock %}
			</main>

			{% include "pages/footer.html.twig" %}

			{% block javascripts %}
				{{ encore_entry_link_tags('app') }}
			{% endblock %}


			<script>
				var navbar = document.getElementById('navbar-toggler');
navbar.addEventListener('click', function (e) {
var divHidden = document.getElementById('navbarSupportedContent');
console.log(divHidden.getAttribute('class'));
if (divHidden.getAttribute('class') == 'collapse navbar-collapse') { // console.log('displayed');
divHidden.removeAttribute('class');
divHidden.setAttribute('class', 'navbar-collapse');
} else { // console.log('hidden');
divHidden.removeAttribute('class');
divHidden.setAttribute('class', 'collapse navbar-collapse');
}
})
			</script>

		</body>

	</html>
