{% extends 'base.html.twig' %}

{% block title 'Editer les informations' %}

{% block body %}
<div class="jumbotron text-center bg-primary text-white">
	<h1>Editer les informations</h1>
	<div class="divider-custom divider-light">
		<div class="divider-custom-line"></div>
		<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
		<div class="divider-custom-line"></div>
	</div>
</div>

<div class="container mt-4 mb-4">

	{% include "pages/appflashes.html.twig" %}

	{{ form_start(form) }}

	<div class="row justify-content-center">
		<div class="col-md-4 col-sm-6">{{ form_row(form.name)}}</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-4 col-sm-6">{{ form_row(form.address)}}</div>
	</div>
	<div class="row justify-content-center">
		<button class="btn btn-success">{{ button|default('Enregistrer')}}</button>
	</div>
	{{ form_end(form) }}

	<div class="text-right">
		<a href="{{ path('ets.index') }}" class="btn btn-info">Retour</a>
	</div>
</div>
{% endblock %}