{% extends 'base.html.twig' %}

{% block title 'Voir les établissements' %}

{% block body %}

	<div class="jumbotron text-center bg-primary text-white">
		<h1>Bienvenue sur la page des établissements</h1>
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
	</div>

	<div class="container mt-4 mb-4">

		{% include "pages/appflashes.html.twig" %}

		{% if ets is not empty %}

			<h3>Liste des établissements</h3>
			{% for salle in ets %}
				<div class='mb-3 d-flex' id="row_ets_index_{{loop.index}}">
					<div class="col col-lg-8 col-md-8 col-sm-12 col-xs-12">
						<div class="row text-white">
							<div class='col-4'>{{ salle.name }}</div>
							<div class='col-8'>{{ salle.address }}</div>
						</div>
					</div>
					<div class="col col-lg-4 col-md-4 col-sm-12 col-xs-12 ml-15px">
						<div class="row">
							<div class="col-3">
								<a href="{{ path('admin.ets.show', {url: salle.url}) }}" class="btn btn-secondary">
									<i class="fa fa-search"></i>
								</a>
							</div>
							<div class="col-3">
								<a href="{{ path('admin.spot.new', {url: salle.url, date_request: today|date("d-m-Y") }) }}" class="btn btn-primary">
									<i class="fa fa-user-plus"></i>
								</a>
							</div>
							<div class="col-3">
								<a href="{{ path('admin.person.show', {url: salle.url}) }}" class="btn btn-success">
									<i class="fa fa-users"></i>
								</a>
							</div>
							{% if not (app.user.usergroup == 8 or app.user.usergroup == 1)  %}

								<div class="col-3">
									<form method="post" action="{{ path('admin.ets.delete', {id: salle.id}) }}" onsubmit="return confirm('La suppression invalidera le QR Code généré... Êtes vous sûr de vouloir supprimer ?')">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.id) }}">
										<button class="btn btn-danger">
											<i class="fa fa-trash"></i>
										</button>
									</form>
								</div>

							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<div>{{ message }}</div>
		{% endif %}
		{% if not (app.user.usergroup == 8 or app.user.usergroup == 1)  %}
			<div class="mt-2">
				<a href="{{ path('admin.ets.add') }} " class="btn btn-primary">Ajouter une salle</a>
			</div>

		{% endif %}
	</div>


{% endblock %}
