{% extends 'base.html.twig' %}

{% block title 'Voir les établissements' %}

{% block body %}

	<div class="jumbotron text-center bg-primary text-white">
		<h1>Tableau de bord</h1>
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
	</div>

	<div class="container mt-4 mb-4">

		{% if admins %}
			<div class="d-flex justify-content-center">
				<div class="col col-lg-6 col-md-6 col-sm-12">
					<input class="form-control" id="myInput" type="text" placeholder="Search..">
				</div>
			</div>

			<div class="" id="display" tabindex="-1" role="dialog"></div>

			<div class="row mt-5 mb-5">
				<div class="col-12">
					<div class="row" id="myTable">
						{% for admin in admins %}

							{% if admin.usergroup != 8 %}
								<div class='col col-lg-3 col-md-6 col-sm-12 mr-2'>
									<div class="card" style="width: 18rem; min-height: 270px">
										{% if admin.filename == "empty" %}
											<img class="card-img-top m-auto pt-3 col-6" src="{{asset('images/admin/empty.png') }}" alt="image_empty">
										{% else %}
											<img class="card-img-top m-auto pt-3 col-6" src="{{ vich_uploader_asset(admin, 'imageFile') }}" alt="image_{{admin.filename}}" style="min-height:129px">
										{% endif %}
										<div class="card-body">
											<h5 class="card-title">{{ admin.name ~ " " ~ admin.surname}}</h5>
											<div class="btn btn-primary btn-show-admin" id={{admin.id}} data-toggle="modal" data-target="#display">Gérer le compte</div>
										</div>
										{% if admin.lastConnexionAt != null %}
											<div class="text-muted ml-2">
												<small>Last connexion :
													{{ admin.lastConnexionAt|date("d/m/Y - H:i")}}
												</small>
											</div>
										{% endif %}

									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>


		{% endif %}
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('showAdmin') }}

{% endblock %}
