{% extends 'base.html.twig' %}

{% block title 'Votre établissement' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
{% endblock %}

{% block body %}
	<div class="jumbotron text-center bg-primary text-white">
		<h1>Informations concernant l'établissement</h1>
		<div class="divider-custom divider-light">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon">
				<i class="fas fa-star"></i>
			</div>
			<div class="divider-custom-line"></div>
		</div>
	</div>

	<div class="container mt-4 mb-4">

		{% include "pages/appflashes.html.twig" %}

		<div class="row justify-content-center mb-5 ">
			<div class="col col-lg-8 col-md-8 col-sm-12">
				<div class="card mb-4 shadow-sm">
					<div class="col-12 bg-light-blue">
						<h5>
							<i class="far fa-chart-bar m-2"></i>Affluence</h5>
					</div>
					<div class="card-body">
						<canvas id="myChart" class="mb-2"></canvas>
						<a href="{{ path('admin.person.show', {url: ets.url}) }}">
							<small>Voir les personnes présentes</small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-primary">
		<div class="container">
			<div class="row justify-content-center pt-5">
				<div class="col-lg-4 col-md-4 col-sm-12">
					<div class="card mb-4 shadow-sm p-rel" style="min-height:380px;">
						<div class="col-12 bg-light-blue">
							<h5>
								<i class="fas fa-qrcode m-2"></i>Mon QR Code</h5>
						</div>
						<div class="card-body text-center">
							<p><img src="{{ asset('images/qrcode/' ~ ets.qrcode) }}" alt="" style="max-width: 150px;"></p>
						</div>
						<form action="{{ path('admin.qrcode.dl', {url: ets.url}) }}" method="post" target="_blank" class="m-auto">
							<button class="btn btn-warning" style="margin-bottom:25px;">
								<i class="fa fa-download"></i>Télécharger</button>
						</form>
					</div>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-12 text-left">
					<div class="card mb-4 shadow-sm" style="min-height:380px;">
						<div class="col-12 bg-light-blue">
							<h5>
								<i class="fas fa-cogs m-2"></i>Personnalisation</h5>
						</div>
						<div class="card-body">

							{% if app.user %}
								<div class="col-md-10" id="tooltip-admin" data-toggle="tooltip" data-html="true" title="Pour un meilleur affichage, une image de 200px x 200px est idéale">
									<div class="row">
										<div class="col-md-4">
											<div class="row justify-content-center">
												{% if ets.filename != 'empty'%}
													<img src="{{ vich_uploader_asset(ets, 'imageFile') }}" class="card-img-top" style="max-width: 150px; height: auto;">
												{% else %}
													<img src="{{ asset('images/ets/empty.png') }}" class="card-img-top" style="max-width: 150px; height: auto;">
												{% endif %}
											</div>

										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col col-md-3 text-right">Nom:</div>
												<div class="col col-md-9 text-left">{{ets.name}}</div>
											</div>
											<div class="row mb-5">
												<div class="col col-md-3 text-right">Adresse:</div>
												<div class="col col-md-9 text-left">{{ets.address}}</div>
											</div>
											<div class="row">
												{{ form_start(form) }}
												<div class="row justify-content-center">
													<div class="col-12">{{ form_row(form.imageFile)}}</div>
												</div>
												<button class="btn btn-success">{{ button|default('Enregistrer')}}</button>
												{{ form_end(form) }}
											</div>
										</div>
									</div>
								</div>
							{% endif %}

						</div>
					</div>
				</div>

				{% if app.user.usergroup == 8 %}
					<div class="col-md-2">
						<form action="{{ path('addSpot', {url: ets.url}) }}" method='post'>
							<button class="btn btn-danger">
								<i class="fa fa-user-plus"></i>
							</button>
						</form>
					</div>
				{% endif %}
			</div>

			<div class="text-right">
				<a href="{{ path('ets.index') }}" class="btn btn-info mb-5">Retour</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_script_tags('functions') }}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>

	<script>
		var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, { // The type of chart we want to create
type: 'bar',

// The data for our dataset
data: {
labels: {{ dates| raw }},
datasets: [
{
label: 'Affluence',
backgroundColor: {{ colors| raw }},
borderColor: 'rgb(255, 99, 132)',
data: {{ affluence| raw }}
}
]
},

// Configuration options go here
options: {
scales: {
yAxes: [
{
ticks: {
beginAtZero: true
}
}
]
}
}
});
	</script>
{% endblock %}
