<page backtop="10mm" backleft="10mm" backbottom="10mm" backright="10mm">
	<div id="body">
		<table id="utils">
			<thead>
				<tr>INFO COVID-19</tr>
			</thead>
			<tbody>
				<tr>
					<td>Pour la sécurité de tous, merci de prendre quelques instants pour vous enregistrer sur le cahier de rappel numérique.</td>
				</tr>
				<tr>
					<td style="width: 50%; " align="center">
						<img src="./images/scan.png" alt="" style="width:100px">
					</td>
					<td style="width: 50%;" align="center">
						<img src="./images/form.png" alt="" style="width:100px">
					</td>
				</tr>
				<tr>
					<td align="center">
						<span>A l'aide de votre smartphone, flashez le QRCode.<br>
							Vous serez dirigé vers un formulaire
						</span>
					</td>
					<td align="center">
						<span>Remplissez tous les champs du formulaire, puis validez.<br>
							Et voilà ! Vous êtes inscrit sur la liste numérique de la salle.
						</span>
					</td>
				</tr>
			</tbody>
		</table>

		<table id="qrcode">
			<tr>
				<td style="width: 50%;" align="center">
					<img src="./images/qrcode/{{ets.qrcode}}" alt=" " style=" width: 50px;">
				</td>
			</tr>
		</table>

		<table id="utils">
			<tbody>
				<tr>
					<td>Nous nous engageons à ce que vos données restent confidentielles et soient divulguées uniquement aux services de santé compétents (ARS, CPAM) le cas échéant.</td>
				</tr>
				<tr>
					<td>Vos données seront supprimées dans un délai de 14 jours.</td>
				</tr>
			</tbody>
		</table>
		<div id="footer">
			<span>
				BY
				<img src="./images/sng-1.png" alt="" style="width: 20px;">
			</span>
			<img src="./images/wavesOpacityBottom.png" alt="" style="width: 100%;">
		</div>
	</div>
</page>
