<html lang="fr">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport"content="width=device-width, initial-scale=1"> 
		<title>
			{% block title %}Erreur 404!
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
    </head>
    <body>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">

                <h1 class="">ERREUR 404</h1>
            </div>
            <div class="row justify-content-center">
                <h2>La page souhaitée n'hexiste pas</h2>
            </div>

            <img src="{{ asset('images/404.png') }}" alt="erreur-404" width="100%">

            <div class="row justify-content-center">
                <a class="btn btn-primary" href="{{ path('home') }}">{{ 'Retournez à la page d\'accueil'|upper }}</a>
            </div>
        </div>
    </body>
</html>

